//! **************************************************************************
// Written by: Map O.61xd on Wed Oct 12 18:12:57 2011
//! **************************************************************************

SCHEMATIC START;
COMP "mod_sram_ce" LOCATE = SITE "R6" LEVEL 1;
COMP "mod_sram_lb" LOCATE = SITE "K5" LEVEL 1;
COMP "mod_sram_oe" LOCATE = SITE "T2" LEVEL 1;
COMP "mod_vga_rgb<0>" LOCATE = SITE "U5" LEVEL 1;
COMP "mod_vga_rgb<1>" LOCATE = SITE "U4" LEVEL 1;
COMP "mod_vga_rgb<2>" LOCATE = SITE "N8" LEVEL 1;
COMP "mod_vga_rgb<3>" LOCATE = SITE "P8" LEVEL 1;
COMP "mod_vga_rgb<4>" LOCATE = SITE "P6" LEVEL 1;
COMP "mod_sram_ub" LOCATE = SITE "K4" LEVEL 1;
COMP "mod_vga_rgb<5>" LOCATE = SITE "R9" LEVEL 1;
COMP "mod_vga_rgb<6>" LOCATE = SITE "T8" LEVEL 1;
COMP "mod_vga_rgb<7>" LOCATE = SITE "R8" LEVEL 1;
COMP "mod_sram_we" LOCATE = SITE "N7" LEVEL 1;
COMP "mod_sram_adv" LOCATE = SITE "J4" LEVEL 1;
COMP "mod_sram_clk" LOCATE = SITE "H5" LEVEL 1;
COMP "mod_sram_cre" LOCATE = SITE "P7" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "rxd" LOCATE = SITE "U6" LEVEL 1;
COMP "rst" LOCATE = SITE "B18" LEVEL 1;
COMP "txd" LOCATE = SITE "P9" LEVEL 1;
COMP "sseg_display<0>" LOCATE = SITE "L18" LEVEL 1;
COMP "sseg_display<1>" LOCATE = SITE "F18" LEVEL 1;
COMP "sseg_display<2>" LOCATE = SITE "D17" LEVEL 1;
COMP "sseg_display<3>" LOCATE = SITE "D16" LEVEL 1;
COMP "sseg_display<4>" LOCATE = SITE "G14" LEVEL 1;
COMP "sseg_display<5>" LOCATE = SITE "J17" LEVEL 1;
COMP "sseg_display<6>" LOCATE = SITE "H14" LEVEL 1;
COMP "sseg_display<7>" LOCATE = SITE "C17" LEVEL 1;
COMP "switches<0>" LOCATE = SITE "G18" LEVEL 1;
COMP "switches<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "switches<2>" LOCATE = SITE "K18" LEVEL 1;
COMP "switches<3>" LOCATE = SITE "K17" LEVEL 1;
COMP "switches<4>" LOCATE = SITE "L14" LEVEL 1;
COMP "switches<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "switches<6>" LOCATE = SITE "N17" LEVEL 1;
COMP "switches<7>" LOCATE = SITE "R17" LEVEL 1;
COMP "leds<0>" LOCATE = SITE "J14" LEVEL 1;
COMP "leds<1>" LOCATE = SITE "J15" LEVEL 1;
COMP "leds<2>" LOCATE = SITE "K15" LEVEL 1;
COMP "leds<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "leds<4>" LOCATE = SITE "E17" LEVEL 1;
COMP "leds<5>" LOCATE = SITE "P15" LEVEL 1;
COMP "leds<6>" LOCATE = SITE "F4" LEVEL 1;
COMP "leds<7>" LOCATE = SITE "R4" LEVEL 1;
COMP "sseg_an<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "sseg_an<1>" LOCATE = SITE "H17" LEVEL 1;
COMP "sseg_an<2>" LOCATE = SITE "C18" LEVEL 1;
COMP "sseg_an<3>" LOCATE = SITE "F15" LEVEL 1;
COMP "mod_gpio_gpio<10>" LOCATE = SITE "R15" LEVEL 1;
COMP "mod_gpio_gpio<11>" LOCATE = SITE "T17" LEVEL 1;
COMP "mod_gpio_gpio<12>" LOCATE = SITE "P17" LEVEL 1;
COMP "mod_gpio_gpio<13>" LOCATE = SITE "R16" LEVEL 1;
COMP "mod_gpio_gpio<14>" LOCATE = SITE "T18" LEVEL 1;
COMP "mod_gpio_gpio<15>" LOCATE = SITE "U18" LEVEL 1;
COMP "mod_sram_addr<10>" LOCATE = SITE "G3" LEVEL 1;
COMP "mod_sram_addr<11>" LOCATE = SITE "G6" LEVEL 1;
COMP "mod_sram_addr<20>" LOCATE = SITE "D2" LEVEL 1;
COMP "mod_sram_addr<12>" LOCATE = SITE "G5" LEVEL 1;
COMP "mod_sram_addr<21>" LOCATE = SITE "K3" LEVEL 1;
COMP "mod_sram_addr<13>" LOCATE = SITE "G4" LEVEL 1;
COMP "mod_sram_addr<22>" LOCATE = SITE "D1" LEVEL 1;
COMP "mod_sram_addr<14>" LOCATE = SITE "F2" LEVEL 1;
COMP "mod_sram_addr<23>" LOCATE = SITE "K6" LEVEL 1;
COMP "mod_sram_addr<15>" LOCATE = SITE "E1" LEVEL 1;
COMP "mod_sram_addr<16>" LOCATE = SITE "M5" LEVEL 1;
COMP "mod_sram_addr<17>" LOCATE = SITE "E2" LEVEL 1;
COMP "mod_sram_addr<18>" LOCATE = SITE "C2" LEVEL 1;
COMP "mod_sram_addr<19>" LOCATE = SITE "C1" LEVEL 1;
COMP "i_button" LOCATE = SITE "H13" LEVEL 1;
COMP "mod_sram_data<10>" LOCATE = SITE "M3" LEVEL 1;
COMP "mod_sram_data<11>" LOCATE = SITE "M6" LEVEL 1;
COMP "mod_sram_data<12>" LOCATE = SITE "L2" LEVEL 1;
COMP "mod_sram_data<13>" LOCATE = SITE "N4" LEVEL 1;
COMP "mod_sram_data<14>" LOCATE = SITE "R3" LEVEL 1;
COMP "mod_sram_data<15>" LOCATE = SITE "T1" LEVEL 1;
COMP "mod_gpio_gpio<0>" LOCATE = SITE "L15" LEVEL 1;
COMP "mod_gpio_gpio<1>" LOCATE = SITE "K12" LEVEL 1;
COMP "mod_gpio_gpio<2>" LOCATE = SITE "L17" LEVEL 1;
COMP "mod_gpio_gpio<3>" LOCATE = SITE "M15" LEVEL 1;
COMP "mod_gpio_gpio<4>" LOCATE = SITE "K13" LEVEL 1;
COMP "mod_gpio_gpio<5>" LOCATE = SITE "L16" LEVEL 1;
COMP "mod_gpio_gpio<6>" LOCATE = SITE "M14" LEVEL 1;
COMP "mod_gpio_gpio<7>" LOCATE = SITE "M16" LEVEL 1;
COMP "mod_gpio_gpio<8>" LOCATE = SITE "M13" LEVEL 1;
COMP "mod_gpio_gpio<9>" LOCATE = SITE "R18" LEVEL 1;
COMP "mod_sram_addr<1>" LOCATE = SITE "J1" LEVEL 1;
COMP "mod_sram_addr<2>" LOCATE = SITE "J2" LEVEL 1;
COMP "mod_sram_addr<3>" LOCATE = SITE "H4" LEVEL 1;
COMP "mod_sram_addr<4>" LOCATE = SITE "H1" LEVEL 1;
COMP "mod_sram_addr<5>" LOCATE = SITE "H2" LEVEL 1;
COMP "mod_sram_addr<6>" LOCATE = SITE "J5" LEVEL 1;
COMP "mod_sram_addr<7>" LOCATE = SITE "H3" LEVEL 1;
COMP "mod_sram_addr<8>" LOCATE = SITE "H6" LEVEL 1;
COMP "mod_sram_addr<9>" LOCATE = SITE "F1" LEVEL 1;
COMP "mod_sram_data<0>" LOCATE = SITE "L1" LEVEL 1;
COMP "mod_sram_data<1>" LOCATE = SITE "L4" LEVEL 1;
COMP "mod_sram_data<2>" LOCATE = SITE "L6" LEVEL 1;
COMP "mod_sram_data<3>" LOCATE = SITE "M4" LEVEL 1;
COMP "mod_sram_data<4>" LOCATE = SITE "N5" LEVEL 1;
COMP "mod_sram_data<5>" LOCATE = SITE "P1" LEVEL 1;
COMP "mod_sram_data<6>" LOCATE = SITE "P2" LEVEL 1;
COMP "mod_sram_data<7>" LOCATE = SITE "R2" LEVEL 1;
COMP "mod_sram_data<8>" LOCATE = SITE "L3" LEVEL 1;
COMP "mod_sram_data<9>" LOCATE = SITE "L5" LEVEL 1;
COMP "mod_vga_hs" LOCATE = SITE "T4" LEVEL 1;
COMP "mod_vga_vs" LOCATE = SITE "U3" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

