/* Overloads to all.css */
#container { width: 980px }
.left-column { width: 50%; }
.right-column { width: 50%; }

#htmltag_body {
  background-color: #eee;
  padding 0px;
  margin: 0px;
  font-family: verdana, helvetica, sans-serif;
  font-size: 9pt;
  line-height: 125%;
  min-width: 800px;
  background-image: url("images/main-border.png");
  background-repeat: repeat-y;
  background-position: top center;
}

/* Frontpage styles */
#content-introductory code {
  font-family: "Bitstream Vera Sans Mono", "Andale Mono", monospace;
}
#content-introductory input, select, textarea {
  font-family: "Bitstream Vera Sans", Verdana, sans-serif;
  font-size: 1em;
}
span.keyword {
  font-family: Cambria, Georgia, Times, "Times New Roman", serif;
  font-size: 1.15em;
  font-style: italic;
}
#content h3, #content h2 {
  margin: 0;
  font-size: 1em;
  background: none;
  border: none;
  padding: 0;
}
#content .more {
 color: #999;
 font-weight: normal;
}
#frontpage h2#branding-tagline {
	font-weight: normal;
	font-style: italic;
}
#resources {
  position: relative;
  margin-top: 0em;
  margin-left: 2em;
}
#banner {
  float: right;
}

#resources h3 {
  margin-top: 0; 
  margin-bottom: -.5em;
  font-size: 1em;
  font-weight: normal;
}
#resources-users {
  float: left;
  margin-top: 4em;
}
#resources-contributors {
  float: left;
}
#resources ul {
  padding-left: 2em;
}
#resources li {
  margin-bottom: 0.5em;
}
#content-rotating {
  height: 200px;
}
#content-videos {
  float: left;
  width: 170px;
}
#content-blog ul {
  margin-top: 1em;
  margin-left: 0;
  padding-left: 0;
}
#content-blog li {
  list-style: none;
  margin-bottom: 1em;
}
#content-blog li a {
  color: #999;
  text-decoration: none;
}
#content-blog .date {
  color: #999;
  font-size: 0.8em;
  display: inline-block;
  margin-left: 0.5em;
}
#content-blog li a:link .title {
  color: #04a;
}
#content-blog li a:visited .title {
  color: #04a;
}
#content-blog li a:hover .title {
  color: #a40;
  text-decoration: underline;
}
#content-blog li a:active .title {
  color: #c00;
}
.navtop {
  display: none !important;
}
.how {
  float: left;
  font-size: 75%;
}
.unsupported {
  font-weight: bold;
  color: red;
}

