/* Base Settings */

/* Console */
body
{
  color: #000000;
}

.message
{
	white-space: pre-wrap;
	color: #000000;
	font-size: 14;
	line-height: 100%;
}

.warning
{
	color: #FFAA00;
	font-weight: bold;
}

.error
{
	color: #FF0000;
	font-weight: bold;
}

/* UI Errors */
.text-input.error, .combo-box.error .text-field {
    -fx-focus-color: #d35244;
    -fx-faint-focus-color: #d3524422;

    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-background-color:
        -fx-focus-color,
        -fx-control-inner-background,
        -fx-faint-focus-color,
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 3, 2, 4, 0;
    -fx-prompt-text-fill: transparent;
}
